footer {
  padding: 1.5%;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.rightc {
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fa-brands {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

.company {
  font-size: 20px;
  font-weight: bold;
}

.title {
  margin-top: 10px;
  font-size: 10px;
  font-weight: 900;
}

.address {
  font-size: 10px;
  font-weight: bolder;
}

.info {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.underline {
  text-decoration: underline;
  margin-left: 30px;
  padding-bottom: 15px;
}

.vertical-line {
  height: 12px;
  margin: 0 6px 0 3px;
  border-left: 1px solid black;
}

.left > div {
  line-height: 1.6;
}
