@font-face {
  font-family: "AppleSDGothicNeoH";
  src: url("../fonts/AppleSDGothicNeoH.ttf");
}
@font-face {
  font-family: "AppleSDGothicNeoL";
  src: url("../fonts/AppleSDGothicNeoL.ttf");
}
@font-face {
  font-family: "BMHannaAir";
  src: url("../fonts/BMHANNAAir_ttf.ttf");
}
.DouZoeun {
  font-family: BMHannaAir;
}
