footer {
  width: 100%;
  font-family: "AppleSDGothicNeoL";
  padding: 1.5%;
  background-color: rgb(222, 222, 222);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main {
  width: 50% !important;
}
.rightc {
  position: relative;
  padding-right: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .address {
    width: 100%;
    text-align: right;
    font-size: 10px;
    font-weight: bolder;
  }
  div {
    display: flex;
    padding: 0;
  }
  .fa-brands {
    margin-right: 10px;
    width: 100%;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
  }
}

.company {
  font-size: 15px;
  font-weight: bold;
}

.title {
  margin-top: 10px;
  font-size: 10px;
  font-weight: 900;
}

.info {
  display: flex;
  align-items: center;
  font-size: 10px;
}

.underline {
  width: 80px;
  text-align: right;
  padding-right: 2%;
  text-decoration: underline;
  padding-bottom: 10px;
}

.vertical-line {
  height: 12px;
  margin: 0 6px 0 3px;
  border-left: 1px solid black;
}

.left {
  font-size: 11px;
  margin-right: 0 !important;
  margin-left: 23% !important;

  div {
    line-height: 1.6;
  }
  hr {
    width: 80%;
  }
}
