header {
  font-family: "AppleSDGothicNeoH";
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0px;
  background-color: #3c3c3c;
  color: rgb(240, 228, 228);
  padding: 10px 10px;
  margin-bottom: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 30px;
  margin-right: 15px;
}

.search-container {
  position: relative;
}
.fa-magnifying-glass {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  cursor: pointer;
}
.menu-container {
  display: flex;
  font-size: 11px;
}

.menu-container > div {
  padding: 0 10px;
  cursor: pointer;
}

.theme {
  font-size: 18px;
  font-weight: bold;
}

.searchBox {
  padding: 0;
  width: 350px;
  height: 30px;
  border-radius: 10px;
}

.searchBox:focus {
  outline: none;
  border: 2px solid #ccecff;
}

.vertical-line2 {
  height: 15px;
  margin: 1px 6px 0px 3px;
  border-left: 1px solid black;
}
