.productDetail {
  width: 60%;
  margin: auto !important;
}

.Container {
  margin-bottom: 20px;
}

.categoryBox {
  display: flex;
  margin-left: 25px;
  font-size: 15px;
}

.home {
  margin-left: 10px;
}

.productContainer {
  display: flex;
  justify-content: space-around;
}

.productImage {
  width: 350px;
  height: 350px;
}

.pTitle {
  font-size: 30px;
  font-weight: 800;
}

.pPrice {
  font-size: 25px;
}

.productState {
  color: gray;
  margin-bottom: 5px;
}

.state {
  margin-left: 20px;
  color: black;
}

.productImage {
  width: 200px;
  height: 250px;
}

.productmap {
  display: flex;
  justify-content: center;
}

.carouselwidth {
  width: 250px;
}

.productContent {
  display: flex;
  justify-content: space-between;
}

.vertical-line3 {
  height: 430px;
  margin: -47px 6px 0 3px;
  border-left: 1px solid #d3d3d3;
}

.common {
  display: flex;
  justify-content: space-around;
  margin-left: -10px;
}

.commonkey {
  list-style: circle;
  font-weight: bold;
  font-size: 14px;
}

.commonvalue {
  list-style: none;
  font-size: 14px;
}

.qnaform {
  position: relative;
}

.qnainput {
  width: 80%;
  height: 150px;
  font-size: 15px;
  margin-left: 7%;
}

.qnabutton {
  position: absolute;
  bottom: 5px;
  width: "15%";
  height: 40px;
}
