.productDetail {
  width: 100%;
  margin: auto !important;
}

.Container {
  margin-bottom: 20px;
}

.categoryBox {
  display: flex;
  color: black;
  .categoryItem {
    color: black;
  }
  .homeIcon {
    color: black;
  }
  Link {
    margin-left: 25px;
    font-size: 12px;
    text-decoration: none;
    color: black;
  }
}
// a:visited {
//   // color: black;
//   text-decoration: none;
// }
a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.home {
  color: black;
  margin-left: 10px;
  text-decoration: none;
}

.productContainer {
  display: flex;
  justify-content: space-around;
}

.productImage {
  width: 350px;
  height: 350px;
}
.productInfo {
  text-align: left;
  width: 40%;
  .fix {
    font-size: 15px;
    margin-bottom: 3px;
  }
  .pTitle {
    text-align: right;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 800;
  }
  .pPrice {
    text-align: right;
    margin-right: 50px;
    font-size: 25px;
    color: #6f6f6f;
  }
  .common {
    margin-left: -20px;
    display: flex;
    justify-content: space-around;

    .commonkey {
      list-style: none;
      font-weight: bold;
      font-size: 12px;
      padding-left: 0;
    }
    .commonvalue {
      list-style: none;
      font-size: 12px;
    }
  }
  .Buttons {
    margin-top: 15px;
    text-align: center;
    button {
      font-size: 11px;
      border-color: rgb(169, 169, 169);
      color: black;
      padding: 0;
      background-color: #ffffff;
      margin-left: 20px;
      width: 90px !important;
      height: 30px !important;
      &:hover {
        background-color: #ebebeb;
      }
      &:active,
      &:focus {
        box-shadow: none;
      }
    }
    .kakao {
      margin-bottom: 3px;
      font-size: 30px;
    }
    .jjimIcon {
      margin-right: 5px;
      margin-bottom: 5px;
    }

    .jjim,
    .pay,
    .modify {
      font-size: 12px;
      width: 60px;
      height: 30px;
      color: black;
      background-color: #ffffff;
    }
  }
}

.productState {
  color: gray;
  margin-bottom: 5px;
}

.state {
  margin-left: 20px;
  color: black;
}

.productImage {
  width: 200px;
  height: 250px;
}

.productmap {
  display: flex;
  justify-content: center;
  margin: auto;
}

.carouselwidth {
  width: 250px;
}

.productContent {
  padding-right: 15%;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.vertical-line3 {
  height: 430px;
  margin: -47px 6px 0 3px;
  border-left: 1px solid #d3d3d3;
}

.qnaform {
  position: relative;
}

.qnainput {
  width: 80%;
  height: 150px;
  font-size: 15px;
  margin-left: 7%;
}

.qnabutton {
  position: absolute;
  bottom: 20px;
  width: "15%";
  height: 40px;
}

.preferplace {
  margin: -10% 0% 10%;
}
