.profile{
    background-color: #f0f0f0;
    padding-left:15%;
    padding-top : 4%;
    padding-bottom : 4%;
    margin-top : 5rem;
    margin-bottom: 3rem;
    position: relative;
}

.profileImg{
    width:150px;
    height:150px;
    border-radius:50%;
    margin-right : 3rem;
}

.userInfo{
    width:max-content;
    height:100px;
    display: inline-block;
    margin-left:1rem;
    vertical-align: middle;
}

.nick{
    font-size : 24px;
    font-weight: 500;
    margin-bottom : 1rem;
}

.star {
    position: relative;
    width: 150px;
    display : inline-block;

}

.fill-star {
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    overflow: hidden;
}

.star-ratings{
    padding-top : 1.5rem;
}

.star-ratings img{
    width:30px;
}

.star-ratings span{
    margin-left: 1rem;
    font-size : 20px;
    vertical-align: middle;
}

.profile button{
    position : absolute;
    right: 20%;
    bottom: 25%;
}
