.mainPay {
  margin-top: 60px;
  display: flex;
  .userImg {
    width: 30%;
    height: 30%;
  }
  img {
    width: 100% !important;
    position: relative;
  }
  .user_prod {
    margin-left: 10%;
    position: relative;
    width: 60%;
  }
  .payInfo {
    // display: flex;
    // margin-left: 0;
  }
  .payInfo2 {
    margin-left: 0;
    width: 100%;
    display: flex;
    text-align: left;
    margin-top: 40px;
    // margin-left: 0;
    .width20 {
      width: 20%;
    }
    p {
      span {
        margin-left: 5%;
        margin-top: 4%;
      }
      h4 {
        margin-left: 5%;
      }
      width: 50%;
      display: flex;
    }
  }
}
Form {
  label {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  div {
    margin-top: 2%;
    font-size: 20px;
    font-weight: bold;
  }
  li {
    list-style: none;
  }
  .list {
    display: flex;
    .list02 {
      font-size: 11px;
      margin-left: 50%;
    }
    .list01 {
      font-size: 11px;
    }
    ul {
      padding-left: 20px;
    }
    padding-left: 0px;
    font-size: 10px;
    padding-top: 0;

    border-radius: 10px;
    border: solid rgb(216, 216, 216);
  }
  .button {
    width: 100%;
    border-color: #fae100;
    border-width: 2px;
    background-color: #fae100;
    &:hover {
      background: #fae100;
      border-color: #fae100;
      color: black;
    }
    &:focus {
      border: none;
      outline: none;
      box-shadow: none !important;
      border-color: #fae100 !important;
    }
  }
  .useP {
    width: 20%;
  }
  .changeA {
    width: 10%;
  }
  .addr {
    display: flex;
    width: 100%;
  }
  .point {
    display: flex;
    width: 100%;
  }
  .agree {
    div {
      font-size: 15px;
      margin: 20px 0;
      color: rgb(182, 182, 182);
    }
  }
}
