Form {
    width: 60%;
    margin: 0 auto;
}

.category {
    display: inline-block;
    width: 30%;
    height: 50px;
    border: 1px solid silver;
}

.text_area{
    width: 30%;
    height: 100px;
}

.label{
    font-size: 1.3em;
    font-weight: bold;
}